@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

$yellow: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);
$link: hsl(228, 45%, 44%);

html {
    height: 100%;
    margin: 0;
    font-family: "Figtree";
    font-size: min(5vw, 16px);
}

body {
    @extend html;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $yellow;
}

main {
    margin-top: auto;
    display: flex;
    justify-content: center;
    .card {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content min-content auto;
        height: 460px;
        border: 1px solid black;
        border-radius: 1em;
        width: 40%;
        min-width: 200px;
        padding: 20px;
        grid-gap: 15px;
        background-color: $white;
        box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
        &:hover {
            box-shadow: 12px 12px 0px 0px rgba(0,0,0,1);
        }
    }

    .ele-image {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    .ele-learning {
        border-radius: 0.25em;
        background-color: $yellow;
        font-weight: 800;
        width: 75px;
        display: flex;
        text-align: center;
        padding: 5px;
        height: 20px;
        align-self: center;
        justify-content: center;
    }

    .ele-date {
        font-weight: 600;
    }

    .ele-content {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content;
        grid-gap: 20px;
    }

    .ct-title {
        font-size: min(7vw, 25px);
        font-weight: 800;
        &:hover {
            color: $yellow;
            cursor: pointer;

        }
    }

    .ct-desc {
        line-height: 1.6;
        color: $grey;
    }

    .ct-author {
        font-weight: 800;
        display: flex;
        align-items: center;
        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }
}

footer {
    margin-bottom: auto;
    margin-top: 20px;
    .attribution {
        font-size: 11px; text-align: center;
    }
    a {
        @extend .attribution;
        color: $link;
    }
}